@import "../../../styles/breakpoints.module";

.NavBar {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include size-phone-large {
    display: none;
  }

  .span {
    &:nth-child(1) {
      @include size-tablet {
        display: none;
      }
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    gap: 40px;

    li {
      cursor: pointer;
    }

    .new {
      position: relative;

      span {
        &:first-child {
          position: absolute;
          right: -35%;
          top: -40%;
        }
      }
    }
  }
}