@import "../../../src/styles/variables.module";
@import "../../../src/styles/breakpoints.module";

.MainHeader {
  width: 100%;
  min-height: 100vh;
  background: $color-accent;
  padding-bottom: 79px;

  .heading {
    height: calc(100vh - 130px);
    display: flex;
    align-items: flex-end;
    overflow: hidden;
  }

  .headingTitle {
    line-height: 122px;

    @include size-tablet {
      line-height: 100px;
    }

    @include size-phone-large {
      line-height: 60px;
    }
  }

  .arrowTop {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 53px 0 30px 0;
  }

  .services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @include size-tablet {
      flex-wrap: wrap;
      gap: 30px;
    }

    p {
      line-height: 33.33px;
      max-width: 320px;
    }
  }
}