@import "../../../styles/variables.module";
@import "../../../styles/breakpoints.module";

.ResponsiveService {
  width: 100%;
  display: flex;

  @include size-phone-large {
    display: unset;
  }

  .firtsPart {
    width: 50%;
    background: $color-accent;
    padding: 40px;
    overflow: hidden;

    @include size-phone-large {
      width: 100%;
    }

    .descBlock {
      margin-top: 75px;
    }
  }

  .button {
    padding: 5px 20px;
    margin: 20px 0 20px;
  }

  .descBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .firtsPartImg {
    margin: -165px auto -0;
    max-width: 460px;
  }

  .secondPart {
    width: 50%;
    background: #F0F1F5;
    padding: 68px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include size-phone-large {
      width: 100%;
    }
  }

  .title {
    @include size-laptop {
      font-size: 40px;
    }

    @include size-tablet {
      font-size: 30px;
    }
  }

  .description {
    max-width: 330px;
    margin-top: 40px;
    line-height: 33px !important;

    @include size-laptop {
      font-size: 15px;
      margin-top: 15px;
      line-height: 25px !important;
    }
  }
}